<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">		
		<%= image_tag "Jordan_Howard.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>About me short paragraph</p>

		<p>Continued</p>
	</div>
</div>