<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">		
		<%= image_tag "Jordan_Howard.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>I have been working with computers and learning how to code for a month now. I love the fact that I can fix any problem that occurs, and how we as a community are open to helping one another to succeed in our industry.</p>

		<p>I like to finish a task not just at a competent level but to go above and beyond to make sure that it is done right and looks amazing.</p>
	</div>
</div>