<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">		
				<%= image_tag "Jordan_Howard.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
			</div>

			<div class="col-md-8">
				<p>I have been working with computers and learning how to code for a month now. I love the fact that I can fix any problem that occurs, and how we as a community are open to helping one another to succeed in our industry.</p>

				<p>I like to finish a task not just at a competent level but to go above and beyond to make sure that it is done right and looks amazing.</p>

				<p>
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-controler="jobHistory"
					>
						Job History
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controler="education"
					>
						Education
					</button>
				</p>

				<p>
				<div class="collapse" id="jobHistory">
						<div class="card card-block">
							Job 1
						</div>
						<div class="card card-block">
							Job 2
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block">
							School 1
						</div>
						<div class="card card-block">
							School 2
						</div>
						<div class="card card-block">
							School 3
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>