<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I love coding and the fact that I can solve any problem that arises. I believe that coding is a community and I love how that community is there for each other.</p>
  <p class="lead">   
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>